{% extends 'school/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>



<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->

<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Teachers</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Salary</th>
            <th>Joining Date</th>
            <th>Approve</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for t in teachers %}
        <tr>
          <td> {{t.get_name}}</td>
          <td>{{t.mobile}}</td>
          <td>{{t.salary}}</td>
          <td>{{t.joindate}}</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'approve-teacher' t.id  %}"><span class="glyphicon glyphicon-ok"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'delete-teacher' t.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>

        {% endfor %}
      </table>
    </div>


  </div>
</div>

<!--
      written By : sumit kumar
      facebook : fb.com/sumit.luv
      -->

{% endblock content %}
