{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Teacher</h1>
  <p class="lead">Welcome to School Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="teachersignup" role="button">Apply For Job</a>
    <a class="btn btn-primary btn-lg" href="teacherlogin" role="button">Login</a>
  </p>
</div>
{% endblock content %}
<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->
